[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
names-generator = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
ipython = "*"
twine = "*"

[requires]
python_version = "3.12"
